{
  "identities": [
    {
      "name": "dev-user",
      "credentials": [
        {
          "accessKey": "{{ volgactf.qualifier.transient.aws.access_key_id }}",
          "secretKey": "{{ volgactf.qualifier.transient.aws.secret_access_key }}"
        }
      ],
      "actions": [
        "Admin",
        "Read",
        "Write"
      ]
    }
  ]
}
