#!/usr/bin/env sh

PROJECT=`docker compose ls -q`
docker run --rm -it -a STDIN -a STDOUT -a STDERR --network ${PROJECT}_{{ volgactf.qualifier.network.name }} --env-file ./env/redis.env --env-file ./env/postgres-common.env --env-file ./env/postgres-volgactf-writer.env {{ volgactf.qualifier.backend.image }} cli "$@"
RETVAL=$?
exit $RETVAL
