#!/usr/bin/env sh
DIST_DIR="./dist"

DIST_FRONTEND_DIR="${DIST_DIR}/frontend"
test -d ${DIST_FRONTEND_DIR} && rm -rf `ls -1dr ${DIST_FRONTEND_DIR}/* | tail -n +2 | tr '\n' ' '`
FRONTEND_BUILD_NAME=`date +%Y%m%d_%H%M%S`
FRONTEND_TARGET_DIR=${DIST_FRONTEND_DIR}/${FRONTEND_BUILD_NAME}
mkdir -p ${FRONTEND_TARGET_DIR}
docker run --rm -a STDIN -a STDOUT -a STDERR -v ${FRONTEND_TARGET_DIR}:/dist {{ volgactf.qualifier.frontend.image }} copy /dist

TARGET_DIR="${DIST_DIR}/target"
mkdir -p ${TARGET_DIR}

TARGET_FRONTEND_DIR="${TARGET_DIR}/frontend"
ln -sfn /opt/volgactf/qualifier/dist/frontend/${FRONTEND_BUILD_NAME} ${TARGET_FRONTEND_DIR}
