VOLGACTF_QUALIFIER_EVENT_TITLE={{ volgactf.qualifier.event.title }}
VOLGACTF_QUALIFIER_QUEUE_PREFIX={{ volgactf.qualifier.queue.prefix }}

TWITTER_API_CONSUMER_KEY=
TWITTER_API_CONSUMER_SECRET=
TWITTER_API_ACCESS_TOKEN=
TWITTER_API_ACCESS_TOKEN_SECRET=

TELEGRAM_BOT_TOKEN={{ volgactf.qualifier.transient.telegram.bot_token }}
TELEGRAM_CHAT_ID={{ volgactf.qualifier.telegram.chat_id }}
TELEGRAM_SOCKS5_HOST=
TELEGRAM_SOCKS5_PORT=
TELEGRAM_SOCKS5_USERNAME=
TELEGRAM_SOCKS5_PASSWORD=

VOLGACTF_QUALIFIER_FQDN={{ volgactf.qualifier.hostname }}
VOLGACTF_QUALIFIER_SECURE=yes
VOLGACTF_QUALIFIER_TEAM_LOGO_DIR=/opt/volgactf/qualifier/team_logos
VOLGACTF_QUALIFIER_STREAM_MAX_CONNECTIONS={{ volgactf.qualifier.stream.max_connections }}
VOLGACTF_QUALIFIER_STREAM_REDIS_CHANNEL={{ volgactf.qualifier.stream.redis_channel }}
VOLGACTF_QUALIFIER_NOTIFICATION_POST_NEWS={{ 'yes' if volgactf.qualifier.notification.post_news else 'no' }}
VOLGACTF_QUALIFIER_NOTIFICATION_POST_TWITTER=no
VOLGACTF_QUALIFIER_NOTIFICATION_POST_TELEGRAM={{ 'yes' if volgactf.qualifier.notification.post_telegram and volgactf.qualifier.transient.telegram.bot_token else 'no' }}

VOLGACTF_QUALIFIER_EMAIL_TRANSPORT={{ volgactf.qualifier.email.transport }}
VOLGACTF_QUALIFIER_EMAIL_SENDER_NAME={{ volgactf.qualifier.email.sender.name }}
VOLGACTF_QUALIFIER_EMAIL_SENDER_ADDRESS={{ volgactf.qualifier.email.sender.address }}

SMTP_HOST={{ volgactf.qualifier.smtp.host }}
SMTP_PORT={{ volgactf.qualifier.smtp.port }}
SMTP_SECURE={{ 'yes' if volgactf.qualifier.smtp.secure else 'no' }}
SMTP_USERNAME={{ volgactf.qualifier.transient.smtp.username }}
SMTP_PASSWORD={{ volgactf.qualifier.transient.smtp.password }}
SMTP_HEADERS_JSON={{ volgactf.qualifier.smtp.headers_json }}

VOLGACTF_QUALIFIER_SCORING_DYNLOG_MIN={{ volgactf.qualifier.scoring.dynlog.min }}
VOLGACTF_QUALIFIER_SCORING_DYNLOG_MAX={{ volgactf.qualifier.scoring.dynlog.max }}
VOLGACTF_QUALIFIER_SCORING_DYNLOG_K={{ volgactf.qualifier.scoring.dynlog.k }}
VOLGACTF_QUALIFIER_SCORING_DYNLOG_V={{ volgactf.qualifier.scoring.dynlog.v }}
