VOLGACTF_QUALIFIER_EVENT_TITLE={{ volgactf.qualifier.event.title }}
VOLGACTF_QUALIFIER_QUEUE_PREFIX={{ volgactf.qualifier.queue.prefix }}

GOOGLE_TAG_ID=

VOLGACTF_QUALIFIER_SESSION_SECRET={{ volgactf.qualifier.transient.session_secret }}
VOLGACTF_QUALIFIER_FQDN={{ volgactf.qualifier.hostname }}
VOLGACTF_QUALIFIER_SECURE=yes
VOLGACTF_QUALIFIER_HOST=0.0.0.0
VOLGACTF_QUALIFIER_TEAM_LOGO_DIR=/opt/volgactf/qualifier/team_logos
VOLGACTF_QUALIFIER_FRONTEND_DIST_DIR=/opt/volgactf/qualifier/dist/target/frontend
VOLGACTF_QUALIFIER_STREAM_MAX_CONNECTIONS={{ volgactf.qualifier.stream.max_connections }}
VOLGACTF_QUALIFIER_STREAM_REDIS_CHANNEL={{ volgactf.qualifier.stream.redis_channel }}
VOLGACTF_QUALIFIER_UPLOAD_MAX_TEAM_LOGO_SIZE={{ volgactf.qualifier.upload.max_team_logo_size }}
VOLGACTF_QUALIFIER_UPLOAD_MAX_TASK_FILE_SIZE={{ volgactf.qualifier.upload.max_task_file_size }}
VOLGACTF_QUALIFIER_TASK_FILE_DIR=/opt/volgactf/qualifier/task_files
VOLGACTF_QUALIFIER_UPLOAD_TMP_DIR=/opt/volgactf/qualifier/upload

VOLGACTF_QUALIFIER_EMAIL_TRANSPORT={{ volgactf.qualifier.email.transport }}
VOLGACTF_QUALIFIER_EMAIL_WEBHOOK={{ '' if volgactf.qualifier.email.webhook is none else volgactf.qualifier.email.webhook }}
VOLGACTF_QUALIFIER_EMAIL_ADDRESS_VALIDATOR_TYPE={{ 'none' if volgactf.qualifier.email.address_validator.type is none else volgactf.qualifier.email.address_validator.type }}
VOLGACTF_QUALIFIER_EMAIL_ADDRESS_VALIDATOR_IGNORE_LIST={{ volgactf.qualifier.email.address_validator.ignore_list | join(',') }}

CTFTIME_OAUTH_CLIENT_ID={{ volgactf.qualifier.transient.ctftime_oauth.client_id }}
CTFTIME_OAUTH_CLIENT_SECRET={{ volgactf.qualifier.transient.ctftime_oauth.client_secret }}

CTFTIME_OAUTH_SCOPE=profile:read team:read
CTFTIME_OAUTH_AUTHORIZATION_SERVER_ENDPOINT=https://oauth.ctftime.org/authorize
CTFTIME_OAUTH_ACCESS_TOKEN_ENDPOINT=https://oauth.ctftime.org/token
CTFTIME_OAUTH_API_ENDPOINT=https://oauth.ctftime.org/user

VOLGACTF_QUALIFIER_SCORING_DYNLOG_MIN={{ volgactf.qualifier.scoring.dynlog.min }}
VOLGACTF_QUALIFIER_SCORING_DYNLOG_MAX={{ volgactf.qualifier.scoring.dynlog.max }}
VOLGACTF_QUALIFIER_SCORING_DYNLOG_K={{ volgactf.qualifier.scoring.dynlog.k }}
VOLGACTF_QUALIFIER_SCORING_DYNLOG_V={{ volgactf.qualifier.scoring.dynlog.v }}

VOLGACTF_QUALIFIER_TEMPLATE_CHECK_MTIME={{ 'yes' if volgactf.qualifier.template.check_mtime else 'no' }}

GITHUB_TOKEN={{ volgactf.qualifier.transient.github_token }}
GITHUB_ORG={{ volgactf.qualifier.github.org }}
GITHUB_FILTER_TOPICS={{ volgactf.qualifier.github.filter_topics | join(',') }}

GITFLIC_API_TOKEN=
GITFLIC_ORG=

AWS_ACCESS_KEY_ID={{ volgactf.qualifier.transient.aws.access_key_id }}
AWS_SECRET_ACCESS_KEY={{ volgactf.qualifier.transient.aws.secret_access_key }}
AWS_REGION={{ volgactf.qualifier.transient.aws.region }}
AWS_ENDPOINT={{ volgactf.qualifier.transient.aws.endpoint }}
AWS_S3_FORCE_PATH_STYLE={{ volgactf.qualifier.transient.aws.s3_force_path_style }}

VOLGACTF_QUALIFIER_REMOTE_FILESTORE_FQDN={{ volgactf.qualifier.remote_filestore.hostname }}
VOLGACTF_QUALIFIER_REMOTE_FILESTORE_S3_BUCKET_CREATE={{ 'yes' if volgactf.qualifier.remote_filestore.s3_bucket.create else 'no' }}
VOLGACTF_QUALIFIER_REMOTE_FILESTORE_S3_BUCKET_NAME={{ volgactf.qualifier.remote_filestore.s3_bucket.name }}
