VOLGACTF_QUALIFIER_QUEUE_PREFIX={{ volgactf.qualifier.queue.prefix }}
VOLGACTF_QUALIFIER_SCHEDULER_CHECK_CONTEST_INTERVAL={{ volgactf.qualifier.scheduler.check_contest_interval }}
VOLGACTF_QUALIFIER_SCHEDULER_CHECK_TASKS_INTERVAL={{ volgactf.qualifier.scheduler.check_tasks_interval }}
VOLGACTF_QUALIFIER_SCHEDULER_RECALCULATE_INTERVAL={{ volgactf.qualifier.scheduler.recalculate_interval }}
